.document-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
  width: 100%;

  .add-document {
    width: fit-content;
    cursor: pointer;
    transition: 200ms;
    &:hover {
      opacity: 0.5;
    }
  }

  .footer {
  }
}
