<div (contextmenu)="onRightClick($event)" class="document">
  <img class="image" [src]="document.image" (error)="onImgError($event)" [alt]="document.title">
  <span>{{ document.title }}</span>
</div>

<div style="visibility: hidden; position: fixed;"
[style.left]="menuTopLeftPosition.x"
[style.top]="menuTopLeftPosition.y"
[matMenuTriggerFor]="menu"></div>

<mat-menu #menu="matMenu" class="menu">
  <button mat-button disabled="true" (click)="onDownload()">
    <mat-icon>file_download</mat-icon>
    Télécharger
  </button>
  <button mat-button color="warn" (click)="onDelete()">
    <mat-icon>delete</mat-icon>
    Delete
  </button>
</mat-menu>
