<mat-drawer-container class="container" hasBackdrop=true>
  <mat-drawer class="sidenav" #drawer mode="over">Side nav</mat-drawer>
  <mat-drawer-content>
    <div class="navbar">
      <mat-icon class="menu-button" (click)="drawer.toggle()">menu</mat-icon>
      <app-title class="title"></app-title>
      <div class="right-side">
        <app-user-avatar></app-user-avatar>
        <div class="buttons">
          <button [routerLink]="['/profil']" mat-button>Profil</button>
          <button (click)="disconnect()" mat-button color="warn">Déconnecter</button>
        </div>
      </div>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
    <app-footer ></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
