.title {
  text-align: center;
  position: sticky;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  top: 5em;
  border: double black;
  border-width: 6px 0 6px 0;
}
